body {
  height: -webkit-fill-available;
  padding-top: 40px;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}


.bg-iris {
  background-color: #5D5FEF!important;
}

.bg-purple {
  background-color: #C27BEE!important;
}

.bg-teal {
  background-color: #4BE6CA!important;
}

.center {
  text-align: center;
}

.scrollable {
  height: -webkit-fill-available;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.border-iris {
  border-color: #5D5FEF!important;
}

.border-teal {
  border-color: #4BE6CA!important;
}