{% extends "basesite.html" %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="card">
            <div class="card-body p-3">
                <h5 class="text-capitalize font-weight-bold">About TigerPlan</h5>
                <div class="row" style="height:40%">
                    <div class="col-md-3 text-center align-middle">
                        <img src="{{ url_for('static', filename='assets/lu.png') }}"
                            style="border: 1px solid #000; border-radius: 2%" height=200px>
                        <br>
                        <strong style="margin-top: 10px; font-size: 18px;">
                            Lu Esteban </strong>
                        <p style="margin-top: -10px; font-size: 18px;"> lesteban@princeton.edu</p>
                        <p> Hi! Insert your blurb here. </p>
                    </div>
                    <div class="col-md-3 text-center align-middle">
                        <img src="{{ url_for('static', filename='assets/katie.png') }}"
                            style="border: 1px solid #000; border-radius: 2%" height=200px>
                        <br>
                        <strong style="margin-top: 10px; font-size: 18px;">
                            Katie Lee </strong>
                        <p style="margin-top: -10px; font-size: 18px;"> katieyl@princeton.edu</p>
                        <p> Hi! Insert your blurb here. </p>
                    </div>
                    <div class="col-md-3 text-center align-middle">
                        <img src="{{ url_for('static', filename='assets/andrew.png') }}"
                            style="border: 1px solid #000; border-radius: 2%" height=200px>
                        <br>
                        <strong style="margin-top: 10px; font-size: 18px;">
                            Andrew Tao </strong>
                        <p style="margin-top: -10px; font-size: 18px;"> aytao@princeton.edu</p>
                        <p> Hi! Insert your blurb here. </p>
                    </div>
                    <div class="col-md-3 text-center align-middle">
                        <img src="{{ url_for('static', filename='assets/alex.jpg') }}"
                            style=" border: 1px solid #000; border-radius: 2%" height=200px>
                        <br>
                        <strong style="margin-top: 10px; font-size: 18px;">
                            Alex Zhang </strong>
                        <p style="margin-top: -10px; font-size: 18px;"> alzhang@princeton.edu</p>
                        <p> Hi! I'm a sophomore in the COS department. I'm interested in using AI to build new products! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}