{% extends "basesite.html" %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="card">
            <div class="card-body p-3">
                <h5 class="text-capitalize text-center font-weight-bold">About TigerPlan</h5>
                <p>
                    TigerPlan is an event scheduling app for Princeton students and campus groups that allows users to propose event times to well-defined groups of invitees, view invitees’ availability, find the time when the greatest number of people are available, and notify invitees of the finalized event time and details. 
                </p>
                <br>
                <h5 class="text-capitalize text-center font-weight-bold">Meet the Team</h5>
                <br>
                <div class="row" style="height:40%">
                    <div class="col-md-3 text-center align-middle">
                        <img src="{{ url_for('static', filename='assets/lu_profile.jpg') }}"
                            style="border: 1px solid #000; border-radius: 2%" height=200px>
                        <br>
                        <strong style="margin-top: 10px; font-size: 18px;">
                            Lu Esteban </strong>
                        <p style="margin-top: -10px; font-size: 18px;"> lesteban@princeton.edu</p>
                        <p> Hi hi! I'm a COS sophomore interested in web security and product management.</p>
                    </div>
                    <div class="col-md-3 text-center align-middle">
                        <img src="{{ url_for('static', filename='assets/kt.jpg') }}"
                            style="border: 1px solid #000; border-radius: 2%" height=200px>
                        <br>
                        <strong style="margin-top: 10px; font-size: 18px;">
                            Katie Lee </strong>
                        <p style="margin-top: -10px; font-size: 18px;"> katieyl@princeton.edu</p>
                        <p> Hi! I'm a COS major in the Class of 2024 interested in machine learning and product management. </p>
                    </div>
                    <div class="col-md-3 text-center align-middle">
                        <img src="{{ url_for('static', filename='assets/andrew.jpg') }}"
                            style="border: 1px solid #000; border-radius: 2%" height=200px>
                        <br>
                        <strong style="margin-top: 10px; font-size: 18px;">
                            Andrew Tao </strong>
                        <p style="margin-top: -10px; font-size: 18px;"> aytao@princeton.edu</p>
                        <p> Hi! I'm a sophmore in the COS department and I'm interested in algorithms and software development. </p>
                    </div>
                    <div class="col-md-3 text-center align-middle">
                        <img src="{{ url_for('static', filename='assets/alex.jpg') }}"
                            style=" border: 1px solid #000; border-radius: 2%" height=200px>
                        <br>
                        <strong style="margin-top: 10px; font-size: 18px;">
                            Alex Zhang </strong>
                        <p style="margin-top: -10px; font-size: 18px;"> alzhang@princeton.edu</p>
                        <p> Hi! I'm a sophomore in the COS department. I'm interested in using AI to build new products! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}