{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-iris">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 navbar-brand"
                href="#">TigerPlan</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.groups') }}" tabindex="-1" aria-disabled="true">Manage
                        Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.scheduler') }}" tabindex="-1"
                        aria-disabled="true">Scheduler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}" tabindex="-1" aria-disabled="true">About</a>
                </li>
            </ul>
            <div class="nav-item btn-group dropdown">
                {% if user is defined and user != '' %}
                <button class="btn dropdown-toggle" id="login" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#fff">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="login">
                    <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
                </div>
                {% else %}
                <a href="{{ url_for('main.login') }}">
                    <button class="btn btn-primary navbar-btn navbar-right" type="button"
                        style="background-color:rgb(185, 176, 187);">
                        Login
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div class="container pb-5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <strong>Dashboard page in progress!</strong>
    {% if user is defined and user != '' %}
    <div>
        Showing dashboard page for user <strong>{{ user }}</strong>:
    </div>
    {% endif %}
</div>

<div id="main" class="container-fluid px-5" style="height: 100%;">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
            <div class="container pt-4 pb-4 border rounded-3 border-iris border-3">
                {% if conflicts is defined and conflicts != '' %}
                <div class="card-columns">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-iris">
                            <h5 class="card-title">My Recurring Conflicts</h5>
                        </div>
                    </div>
                    {% for conflict in conflicts %}
                    <div class="card mt-3 mb-3">
                        <div class="card-header text-white bg-iris">
                            {{ conflict.name }}
                        </div>
                        <div class="card-body">
                            <div class="card-text">Start: {{ conflict.start }}</div>
                            <div class="card-text">End: {{ conflict.end }}</div>
                            <a href="/del_conflict/{{ conflict.id }}">Delete conflict {{ conflict.id }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if invitations is defined and invitations != '' %}
                <div class="card-columns">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-iris">
                            <h5 class="card-title">Pending Invitations</h5>
                        </div>
                    </div>
                    {% for invite in invitations %}
                    {% if not invite.finalized and not invite.event.finalized %}
                    <div class="card-header text-white bg-iris" id="invitationCard{{invite.id}}">
                        <h5>{{ invite.event.name }}</h5>
                        <p>{{ invite.event.group.name }}</p>
                        <a>
                            <button onclick="respondToInvitation('{{invite.id}}')">Respond</button>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-8">
            <div class="container pt-4 pb-4 border rounded-3 border-iris border-3">
                <div id="banner"></div>
                <div id="invitationRespond">
                    <span id="InvitationDetails">

                    </span>
                    <button id="finalizeInvitationButton" style="display: none;">
                        Finalize Invitation!
                    </button>
                    <div id="calendar"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/invitation-calendar.js') }}"></script>

<script>

    'use strict';
    let finalizeInvitationRequest = null;
    let currentlyViewedInvitationId = null;

    function updateBanner(response) {
        $("#banner").html(response)
    }

    function onFinalizeSuccess(response) {
        $('#finalizeInvitationButton').hide();
        $('invitationCard' + currentlyViewedInvitationId).remove();
        currentlyViewedInvitationId = null;
    }

    function finalize(inviteid) {
        if (!currentlyViewedInvitationId) {
            return;
        }
        
        $('#finalizeInvitationButton').prop('disabled', true);
        console.log("Finalizing invitation " + currentlyViewedInvitationId);
        if (finalizeInvitationRequest != null) {
            return;
        }

        let chosenTimeBlockIdList = [];
        let selections = getAllSelections();
        for (var id of Object.keys(selections)) {
            if (selections[id]) {
                chosenTimeBlockIdList.push(id);
            }
        }
        
        let url = "/finalize_invitation/" + currentlyViewedInvitationId;
        finalizeInvitationRequest = $.ajax(
            {
                type: 'POST',
                url: url,
                data: JSON.stringify(chosenTimeBlockIdList),
                dataType: "json",
                success: onFinalizeSuccess
            }
        );
    }

    function getAndRenderTimeBlocks(invitationId) {
        let conflictsUrl = '/load_conflicts'
        addCalendar(cal);

        // get user conflicts
        $.ajax({
            type: "GET",
            url: conflictsUrl,
            success: renderUserConflicts,
            error: errorWhileFetchingTimeBlocks
        });

        let respondToInvitationUrl = "respond_to_invitation/" + invitationId;
        $.ajax({
            type: "GET",
            url: respondToInvitationUrl,
            success: function (response) {

                let eventTimes = response.eventTimes;
                renderEventTimeBlocks(eventTimes);
            },
            error: function () {
                errorWhileFetchingTimeBlocks("Error while fetching time blocks");
            }
        });
    }

    function respondToInvitation(id) {
        currentlyViewedInvitationId = id;
        $('#finalizeInvitationButton').show();
        renderTimeSelectionCalendar();
        getAndRenderTimeBlocks(id);
    }

    function setup() {
        console.log("Setting up page");
        $('#finalizeInvitationButton').on("click", finalize);
    }

    $('document').ready(setup);



</script>



{% endblock %}