{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-iris">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 navbar-brand"
                href="#">TigerPlan</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.groups') }}" tabindex="-1" aria-disabled="true">Manage
                        Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.scheduler') }}" tabindex="-1"
                        aria-disabled="true">Scheduler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}" tabindex="-1" aria-disabled="true">About</a>
                </li>
            </ul>
            <div class="nav-item btn-group dropdown">
                {% if user is defined and user != '' %}
                <button class="btn dropdown-toggle" id="login" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#fff">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="login">
                    <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
                </div>
                {% else %}
                <a href="{{ url_for('main.login') }}">
                    <button class="btn btn-primary navbar-btn navbar-right" type="button"
                        style="background-color:rgb(185, 176, 187);">
                        Login
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div class="container pb-5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <strong>Dashboard page in progress!</strong>
    {% if user is defined and user != '' %}
    <div>
        Showing dashboard page for user <strong>{{ user }}</strong>:
    </div>
    {% endif %}
</div>

<div id="main" class="container-fluid px-5" style="height: 100%;">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
            <div class="container pt-4 pb-4 border rounded-3 border-iris border-3">
                {% if conflicts is defined and conflicts != '' %}
                <div class="card-columns">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-iris">
                            <h5 class="card-title">My Recurring Conflicts</h5>
                        </div>
                    </div>
                    {% for conflict in conflicts %}
                    <div class="card mt-3 mb-3">
                        <div class="card-header text-white bg-iris">
                            {{ conflict.name }}
                        </div>
                        <div class="card-body">
                            <div class="card-text">Start: {{ conflict.start }}</div>
                            <div class="card-text">End: {{ conflict.end }}</div>
                            <a href="/del_conflict/{{ conflict.id }}">Delete conflict {{ conflict.id }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="container">
                <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {% if user is defined and user != '' %}
                <div>
                    Showing conflicts for user <strong>{{ user }}</strong>:
                </div>
                {% endif %}

                <div>
                    <a href="/add_conflict">
                        <button> Add an example conflict with default field values.</button>
                    </a>
                </div>
                <br> -->
                {% if invitations is defined and invitations != '' %}
                <div>
                    {% for invite in invitations %}
                    {% if not invite.finalized and not invite.event.finalized %}
                    <div>
                        Invitation for event: <strong> {{ invite.event.name }}</strong>
                        <a onclick="getResults('{{invite.id}}')">
                            <button>Respond</button>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>

        </div>
        <!-- Right Column -->
        <div class="col-md-8">
            <div class="container pt-4 pb-4 border rounded-3 border-iris border-3">
                <div id="banner"></div>
                <div id="invitationRespond"></div>
                <!-- <div class="card">
                    <div class="card-header text-white bg-iris">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="members-tab" data-toggle="tab" href="#members" role="tab"
                                    aria-controls="members" aria-selected="true">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab"
                                    aria-controls="events" aria-selected="false">Events</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="members" role="tabpanel" aria-labelledby="members-tab">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<script>

    'use strict';
    let request = null;

    function updateBanner(response) {
        $("#banner").html(response)
    }

    function finalize(inviteid) {
        let url = "/finalize_invitation/" + inviteid;

        request = $.ajax(
            {
                type: 'POST',
                url: url,
                success: (response) => responseHelper(inviteid, response)
            }
        );
    }

    function handleResponse(response) {
        $('#invitationRespond').html(response);
    }


    function getResults(id) {
        let url = "/respond_to_invitation/" + id

        if (request != null)
            request.abort();

        request = $.ajax(
            {
                type: 'GET',
                url: url,
                success: handleResponse
            }
        );
    }

    function responseHelper(inviteid, response) {
        updateBanner(response);
        getResults(inviteid);
    }

    function setAvailability(inviteid, timeid, action) {
        let url = action + "_invitation_response_time/";
        url += inviteid + "/" + timeid;

        request = $.ajax(
            {
                type: 'POST',
                url: url,
                success: (response) => responseHelper(inviteid, response)
            }
        );
    }

</script>



{% endblock %}