{% extends "basesite.html" %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div>
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Pending Invites</p>
                                {% if invitations is defined and invitations != '' %}

                                {% for invite in invitations %}
                                {% if invite is not none and not invite.finalized and not invite.event.finalized
                                %}
                                <div class="card mt-3 p-3" id="invitationCard{{invite.id}}">
                                    {% if invite.event is not none %}
                                    <h6 class="text-dark text-sm font-weight-bold mb-0">{{ invite.event.name }}
                                    </h6>
                                    {% if invite.event.group is not none %}
                                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{
                                        invite.event.group.name }}</p>
                                    {% endif %}
                                    {% endif %}
                                    <br style="line-height: 5px;">
                                    <button class="btn btn-white btn-sm w-100 mb-0"
                                        onclick="respondToInvitation('{{invite.id}}')"
                                        id="respondToInvitationButton{{invite.id}}">Respond</button>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                        <!-- <div class="col-4 text-end">
                            <div
                                class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-sm-6 mb-xl-8 mb-8">

            <div id="invitationBanner"></div>
            <div id="invitationRespond" style="display: none;">
                <div class="card mt-3 mb-3" id="invitationDetailsCard">
                    <div class="card-header text-white bg-primary" id="invitationDetailsTitle">

                    </div>
                    <div class="card-body m-0 py-0 pt-3" id="invitationDetailsBody">

                    </div>
                    <button class="btn btn-success btn-sm m-3" id="finalizeInvitationButton">
                        Finalize Invitation!
                    </button>
                </div>
                <div id="calendarMenu">
                    <span id="menu-navi">
                        <button type="button" class="btn btn-default btn-sm" id="calendarMenuPrev">
                            &lt;
                        </button>
                        <button type="button" class="btn btn-default btn-sm" id="calendarMenuNext">
                            &gt;
                        </button>
                    </span>
                    <h3 style="display:inline" id="renderRange" class="mx-3"></h3>
                </div>
                <div>Click the pink timeblocks below to toggle availabilites</div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<!--   Core JS Files   -->
<script src="{{ url_for('static', filename='scripts/invitation-calendar.js') }}"></script>

<script>
    'use strict';
    let finalizeInvitationRequest = null;
    let currentlyViewedInvitationId = null;

    function addBanner(message, success) {
        let banner = $('<div>', {
            text: message
        });
        banner.addClass(success ? "alert alert-success" : "alert alert-warning");
        banner.appendTo("#invitationBanner");

        setTimeout(function () {
            banner.hide(1000);
            setTimeout(function () {
                banner.remove()
            }, 1000);
        }, 3000);
    }

    function onFinalizeSuccess(response) {
        $('#finalizeInvitationButton').prop('disabled', false);
        $('#finalizeInvitationButton').hide();
        $('#invitationCard' + currentlyViewedInvitationId).remove();
        addBanner("Success!", true);
        $('#invitationDetailsTitle').empty();
        $('#invitationDetailsBody').empty();
        console.log("Sucessfully finalized " + currentlyViewedInvitationId);
        currentlyViewedInvitationId = null;
        destroyInvitationCalendar();
        $('#invitationRespond').hide();
    }

    function finalize(inviteid) {
        if (!currentlyViewedInvitationId) {
            return;
        }

        $('#finalizeInvitationButton').prop('disabled', true);
        console.log("Finalizing invitation " + currentlyViewedInvitationId);

        let chosenTimeBlockIdList = [];
        let selections = getAllSelections();
        for (var id of Object.keys(selections)) {
            if (selections[id]) {
                chosenTimeBlockIdList.push(id);
            }
        }

        let url = "/finalize_invitation/" + currentlyViewedInvitationId;
        finalizeInvitationRequest = $.ajax(
            {
                type: 'POST',
                url: url,
                data: JSON.stringify(chosenTimeBlockIdList),
                dataType: "json",
                success: onFinalizeSuccess,
                error: function (response) {
                    addBanner(response.message ? response.message : "An error occurred", true);
                }
            }
        );
    }

    function showInvitationEventDetails(eventName, eventDescription, eventLocation, eventIsRecurring) {
        if (eventName) {
            let eventNameHeader = $('<h3>');
            eventNameHeader.css("color", 'white');
            eventNameHeader.append($('<strong>', { text: "Responding to event \"" + eventName + "\"" }));
            $('#invitationDetailsTitle').append(eventNameHeader);
        }
        if (eventIsRecurring) {
            let recurText = $('<div>', { text: "This event recurs weekly!" });
            recurText.addClass("card-text font-weight-bolder");
            $('#invitationDetailsBody').append(recurText);
            $('#invitationDetailsBody').append($('<br>'));
        }
        if (eventDescription) {
            $('#invitationDetailsBody').append($('<strong>', { text: "Event description: " }));
            $('#invitationDetailsBody').append($('<span>', { text: eventDescription }));
            $('#invitationDetailsBody').append($('<br>'));
        }
        if (eventLocation) {
            $('#invitationDetailsBody').append($('<strong>', { text: "Event location: " }));
            $('#invitationDetailsBody').append($('<span>', { text: eventLocation }));
            $('#invitationDetailsBody').append($('<br>'));
        }

    }

    function errorWhileFetchingTimeBlocks(error) {
        console.log(error);
    }

    function getAndRenderTimeBlocks(invitationId) {
        let conflictsUrl = '/load_conflicts'
        addCalendar(cal);

        let respondToInvitationUrl = "respond_to_invitation/" + invitationId;
        $.ajax({
            type: "GET",
            url: respondToInvitationUrl,
            success: function (response) {
                let eventTimes = response.eventTimes;
                renderEventTimeBlocks(eventTimes);
                renderUserConflicts(response.userConflicts);
                setRenderRangeText();
                showInvitationEventDetails(response.eventName, response.eventDescription, response.eventLocation, response.eventIsRecurring);
            },
            error: function () {
                errorWhileFetchingTimeBlocks("Error while fetching time blocks");
            }
        });

    }

    function setRenderRangeText() {
        if (!cal) return;
        let start = cal.getDateRangeStart().toDate();
        let end = cal.getDateRangeEnd().toDate();
        let startString = (start.getMonth() + 1) + "/" + start.getDate() + "/" + start.getFullYear();
        let endString = (end.getMonth() + 1) + "/" + end.getDate() + "/" + end.getFullYear();
        let newRange = $('<span>', { text: startString + " ~ " + endString });
        $('#renderRange').empty();
        $("#renderRange").append(newRange);
    }

    function changeCalendarRange(direction) {
        if (!cal) {
            return;
        }
        if (direction < 0) {
            calendarPrev();
        } else if (direction > 0) {
            calendarNext();
        }
        setRenderRangeText();
    }

    function respondToInvitation(id) {
        if (currentlyViewedInvitationId) {
            $('#invitationDetailsTitle').empty();
            $('#invitationDetailsBody').empty();
            $('#respondToInvitationButton' + currentlyViewedInvitationId).prop('disabled', false);
        }
        currentlyViewedInvitationId = id;
        $('#finalizeInvitationButton').show();
        renderTimeSelectionCalendar();
        getAndRenderTimeBlocks(id);
        setRenderRangeText();
        $('#invitationRespond').show();
        $('#respondToInvitationButton' + currentlyViewedInvitationId).prop('disabled', true);
    }

    function setup() {
        console.log("Setting up page");
        $('#finalizeInvitationButton').on("click", finalize);
        $('#calendarMenuPrev').on('click', function () {
            changeCalendarRange(-1);
        });
        $('#calendarMenuNext').on('click', function () {
            changeCalendarRange(1);
        });
    }

    $('document').ready(setup);
</script>

{% endblock %}