{% extends "basesite.html" %}

{% block content %}

<div class="m-3 px-3" id="chooseCalendarButtons">
    <a id="recurButton" class="btn btn-primary btn-lg w-30" style="display: none;">
        Edit Recurring Conflicts
    </a>
    <a id="onetimeButton" class="btn btn-info btn-lg w-30" style="display: none;">
        Edit One-time Conflicts
    </a>
    <br>
    <h2>Currently Viewing <span id="calendarType"></span> Conflicts</h2>
</div>
<br>
<span id="recurSpan" style="display: none;">
    <div id="recurCalendar"></div>
</span>
<span id="onetimeSpan" style="display: none;">
    <div id="onetimeCalendarMenu">
        <span id="menu-navi">
            <!-- TODO: UI -->
            <button type="button" class="btn btn-default btn-sm" id="onetimeCalendarMenuPrev">
                &lt;
            </button>
            <button type="button" class="btn btn-default btn-sm" id="onetimeCalendarMenuNext">
                &gt;
            </button>
        </span>
        <h3 style="display:inline" id="renderRange" class="mx-3"></h3>
    </div>
    <div id="onetimeCalendar"></div>
</span>
<script src="{{ url_for('static', filename='scripts/editconflict-calendar.js') }}"></script>

{% endblock %}