{% if members is defined %}

<p class="card-text"><strong>Manage Group Administrators</strong><br>
  Add group administrators from the list of existing members to give them event scheduling privileges. 
  Administrators can create, update, and delete group events bur cannot access or change group members.
</p>

{% if admins is defined and admins|length != 0 %}
<div class="container border rounded pt-2">
<table class="table" id="membersTable">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Netid</th>
    </tr>
  </thead>
  {% for admin in admins %}
  <tr id="adminRow{{admin.id}}">
    <td>{{ admin.name }}</td>
    <td>{{ admin.netid }}</td>
    <td>
      <!-- TODO: Implement Remove Admin javascript -->
      <button onclick="removeAdmin('{{admin.id}}')"> 
        Remove Admin Privileges
      </button>
    </td>
  </tr>
  {% endfor %}
</table>
</div>
{% else %}
<div><br>No admins yet!</div>
{% endif %}
<br>
<br>

<p class="card-text"><strong>Add Group Admin</strong><br>
  Specifying a user as a group administrator allows them to create and manage events for your group. Events 
  that you create will still only be editable by you. Group administrators do not have access to view the list 
  of members or change administrator privileges. 
</p>
<div>
  <select id="NewGroupAdmin" class="form-select form-select-md">
      {% if members != '' %}
      <option>Select New Admin</option>
      {% for user in members %}
      <option value="{{ user.id }}">{{ user.netid }}</option>
      {% endfor %}
      {% endif %}
  </select> 
  <a id="addAdmin" class="btn btn-outline-default btn-sm w-100 mb-0" style="margin: 9px 0 5px;">Add Admin</a>
</div>
<br>
<br>

<p class="card-text"><strong>Transfer Ownership</strong><br>
  To transfer ownership of this group, select the new owner from the dropdown menu. Transferring
  owership will transfer all admin privileges. Ownership of existing events will not be transferred.
</p>
<div>
  <select id="NewGroupOwner" class="form-select form-select-md">
      {% if members != '' %}
      <option>Select New Owner</option>
      {% for user in members %}
      <option value="{{ user.id }}">{{ user.netid }}</option>
      {% endfor %}
      {% endif %}
  </select> 
  <a id="changeOwner" class="btn btn-outline-default btn-sm w-100 mb-0" style="margin: 9px 0 5px;">Transfer Ownership</a>
</div>
<br>
<br>

<p class="card-text"><strong>Rename Group</strong></p>
<form action="" method="get">
    <div>
        <input type="text" id="UpdateGroupName" class="form-control" placeholder="Enter New Group Name" autofocus>
        <a id="changeGroupName" class="btn btn-outline-default btn-sm w-100 mb-0" style="margin: 9px 0 5px;">Rename Group</a>
    </div>
</form>
<br>
<br>

<p class="card-text"><strong>Delete Group</strong><br>
  Deleting this group will also permanently delete all its related events, invitation responses, and any pending invitations.
</p>
<a class="btn btn-outline-default btn-sm w-100 mb-0" style="margin: 9px 0 5px;" href="/del_group/{{ this_group.id }}">Delete Group</a>

{% endif %}

<script>
    'use strict';
    let changeOwnershipRequest = null;
    function changeOwner() {
      let memberName = $("#NewGroupOwner :selected").text();
      if (!confirm("Are you sure you want to transfer ownership to " + memberName + "? This action cannot be undone!")) {
        return;
      }
      let member = $('#NewGroupOwner :selected').val();
      member = encodeURIComponent(member);
  
      let url = '/change_ownership?group=' + '{{ this_group.id }}'
      url += '&member=' + member
  
      if (changeOwnershipRequest != null)
        changeOwnershipRequest.abort();
  
      changeOwnershipRequest = $.ajax(
        {
          type: 'POST',
          url: url,
        }
      );
    }
    // TODO: Lu Make this not add owner to options
    function addMemberToSelection(memberid, membernetid) {
      if (!$("#NewGroupOwner option[value='" + memberid + "']").length) {
        $('#NewGroupOwner').append($('<option>').val(memberid).text(membernetid));
      }
      if (!$("#NewGroupAdmin option[value=" + memberid + "]").length) {
        $('#NewGroupAdmin').append($('<option>').val(memberid).text(membernetid));
      }
    }

    function removeMemberFromSelection(memberid) {
      if ($("#NewGroupOwner option[value=" + memberid + "]").length) {
        $("#NewGroupOwner option[value=" + memberid + "]").remove();
      }
      if ($("#NewGroupAdmin option[value=" + memberid + "]").length) {
        $("#NewGroupAdmin option[value=" + memberid + "]").remove();
      }
    }

    let addAdminRequest = null;
    function addGroupAdmin() {
      let member = $('#NewGroupAdmin :selected').val();
      member = encodeURIComponent(member);
  
      let url = '/add_group_admin?group=' + '{{ this_group.id }}'
      url += '&member=' + member
  
      if (addAdminRequest != null)
        addAdminRequest.abort();
  
      // TODO: Ajax to update the admin table without refresh, banners
      addAdminRequest = $.ajax(
        {
          type: 'POST',
          url: url,
        }
      );
    }
    
    let updateGroupNameRequest = null;
    function changeName() {
      let name = $('#UpdateGroupName').val();
      name = encodeURIComponent(name);
  
      let url = '/change_group_name?group=' + '{{ this_group.id }}'
      url += '&name=' + name
  
      if (updateGroupNameRequest != null)
        updateGroupNameRequest.abort();
  
      updateGroupNameRequest = $.ajax(
        {
          type: 'POST',
          url: url,
        }
      );
    }
  
    function setup() {
      $('#changeOwner').on('click', changeOwner);
      $('#changeGroupName').on('click', changeName);
      $('#addAdmin').on('click', addGroupAdmin)
    }
  
    $('document').ready(setup);
</script>
