{% if members is defined %}

<div><strong>Manage Group Administrators</strong></div>
<div>
  Add group administrators from the list of existing members to give them event scheduling privileges. 
  Administrators can create, update, and delete group events bur cannot access or change group members.
</div>
{% if admins is defined and admins|length != 0 %}
<table class="table" id="membersTable">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Netid</th>
    </tr>
  </thead>
  {% for admin in admins %}
  <tr id="adminRow{{admin.id}}">
    <td>{{ admin.name }}</td>
    <td>{{ admin.netid }}</td>
    <td>
      <!-- TODO: Implement Remove Admin javascript -->
      <button onclick="removeAdmin('{{admin.id}}')"> 
        Remove Member
      </button>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div><br>No admins yet!</div>
{% endif %}


<hr>
<p class="card-text"><strong>Transfer Ownership</strong><br>
  To transfer ownership of this group, select the new owner from the dropdown menu. Transferring
  owership will transfer all admin privileges. Ownership of existing events will not be transferred.
</p>
<!-- <form action="" method="get"> -->
    <div>
      <span>Select New Owner</span>
        <select id="NewGroupOwner" class="form-select form-select-sm">
            {% if members != '' %}
            {% for user in members %}
            <option value="{{ user.id }}">{{ user.netid }}</option>
            {% endfor %}
            {% endif %}
        </select> 
        <a id="changeOwner" class="btn btn-outline-default btn-sm w-100 mb-0" style="margin: 9px 0 5px;">Transfer Ownership</a>
    </div>
<!-- </form> -->

<hr>
<p class="card-text"><strong>Rename Group</strong></p>
<form action="" method="get">
    <div>
        <input type="text" id="UpdateGroupName" class="form-control" placeholder="{{ this_group.name }}" autofocus>
        <a id="changeGroupName" class="btn btn-outline-default btn-sm w-100 mb-0" style="margin: 9px 0 5px;">Rename Group</a>
    </div>
</form>

<hr>

<p class="card-text"><strong>Delete Group</strong><br>
  Deleting this group will also permanently delete all its related events, invitation responses, and any pending invitations.
</p>
<a class="btn btn-outline-default btn-sm w-100 mb-0" style="margin: 9px 0 5px;" href="/del_group/{{ this_group.id }}">Delete Group</a>


{% endif %}

<script>
    'use strict';
    let changeOwnershipRequest = null;
  
    function changeOwner() {
      let member = $('#NewGroupOwner :selected').val();
      member = encodeURIComponent(member);
  
      let url = '/change_ownership?group=' + '{{ this_group.id }}'
      url += '&member=' + member
  
      if (changeOwnershipRequest != null)
        changeOwnershipRequest.abort();
  
      changeOwnershipRequest = $.ajax(
        {
          type: 'POST',
          url: url,
        }
      );
    }
    
    let updateGroupNameRequest = null;

    function changeName() {
      let name = $('#UpdateGroupName').val();
      name = encodeURIComponent(name);
  
      let url = '/change_group_name?group=' + '{{ this_group.id }}'
      url += '&name=' + name
  
      if (updateGroupNameRequest != null)
        updateGroupNameRequest.abort();
  
      updateGroupNameRequest = $.ajax(
        {
          type: 'POST',
          url: url,
        }
      );
    }
  
    function setup() {
      $('#changeOwner').on('click', changeOwner);
      $('#changeGroupName').on('click', changeName);
    }
  
    $('document').ready(setup);
</script>
