

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<style>
  .select2-container .select2-selection--single{
    height:42px !important;
  }
  .select2-container--default .select2-selection--single{
    display: block;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #d2d6da;
    border-radius: 0.5rem;
    transition: box-shadow 0.15s ease, border-color 0.15s ease;
    appearance: none;
}
</style>

<p class="card-text"><strong>Group Members</strong><br>View existing members by name and netid. To remove a member, click the remove icon to the right of their netid.</p>
<div class="container border rounded pt-2">
    <table class="table" id="membersTable">
    <thead class="thead-dark">
        <tr>
        <th>Name</th>
        <th>Netid</th>
        <th></th>
        </tr>
    </thead>
    </table>
</div>
<br>
<p class="card-text"><strong>Add Group Members</strong><br>To add a member to your group, select their netid from the dropdown and click Add Member.</p>
<div class="container">
  <select id="selectNewGroupMember" class="form-select select2 form-select-md">
  </select>
  <a id="addNewMember" class="btn btn-outline-default btn-sm w-100 mb-0" style="margin: 9px 0 5px;">Add Member</a>
  <span id = "groupMembersResponse"></span>
</div>

<script>
    $('.select2').select2();
</script>


<script>

  'use strict';

  function makeNewMemberTableRow(memberName, memberNetid, memberId) {
    let tableRow = $('<tr>');
    if (memberName === null) {
      // default name
      memberName = "None";
    }
    tableRow.append($('<td>', { text: memberName }));
    tableRow.append($('<td>', { text: memberNetid }));
    tableRow.attr('id', "memberRow" + memberId);
    let deleteUserTd = $('<td>');
    let deleteUserButton = $('<a>', { text: "Remove member"});
    deleteUserButton.attr('onclick', "removeMember(" + memberId + ")");
    deleteUserButton.attr('class', "btn btn-outline-default btn-sm mb-0")
    deleteUserButton.attr('style', "margin: 9px 0 5px;")
    deleteUserTd.append(deleteUserButton);
    tableRow.append(deleteUserTd);
    $('#membersTable').append(tableRow);
    console.log("Table row")
  }

  function addMemberBanner(message, success) {
    let banner = $('<div>', { text: message });
    banner.addClass("alert alert-" + (successs ? "success" : "warning"));
    banner.appendTo("#groupMembersResponse");
    console.log('group members banner should appear');
    setTimeout(function () {
      banner.hide(1000);
      setTimeout(function () {
        banner.remove()
      }, 1000);
    }, 3000);
    return;
  }

  let addNewMemberRequest = null;
  function addNewMember() {
    let memberId = $('#selectNewGroupMember :selected').val();
    memberId = encodeURIComponent(memberId);
    let groupId = $('#thisGroupHeader').attr('value');

    let url = '/add_new_member?group=' + groupId;
    url += '&member=' + memberId

    if (addNewMemberRequest != null)
      addNewMemberRequest.abort();

    addNewMemberRequest = $.ajax(
      {
        type: 'POST',
        url: url,
        success: function (response) {
          let banner;
          if (response.success) {
            addMemberBanner(response.redundant ? response.memberNetid + " is already in group!" : "Success!", !response.redundant);
            if (!response.redundant) {
              makeNewMemberTableRow(response.memberName, response.memberNetid, memberId);
              addMemberToSelection(memberId, response.memberNetid);
            }
          } else {
            addMemberBanner("Error fetching group", false);
          }
        },
        error: function (error) {
          console.log(error);
          addMemberBanner("An error occurred", false);
        }
      }
    );
  }

  let removeMemberRequest = null;
  function removeMember(memberId) {
    let uriMemberId = encodeURIComponent(memberId);
    let groupId = $('#thisGroupHeader').attr('value');
    let url = '/remove_member?groupId=' + groupId;
    url += '&memberId=' + uriMemberId;

    if (removeMemberRequest != null)
    removeMemberRequest.abort();

    removeMemberRequest = $.ajax(
      {
        type: 'POST',
        url: url,
        success: function (response) {
          let banner;
          if (!response.success) {
            addMemberBanner("Error deleting", false);
            return;
          }

          $('#memberRow' + uriMemberId).remove();
          removeMemberFromSelection(memberId);
          addMemberBanner("Success!", true);
        },
        error: function (error) {
          console.log(error);
          addMemberBanner("An error occurred", false);
        }
      }
    );
  }

  function setup() {
    $('#addNewMember').on('click', addNewMember);
  }

  $('document').ready(setup);

</script>