{% extends "basesite.html" %}

{% block content %}
<main>
    <div id="calendarMenu">
        <span id="menu-navi">
            <!-- TODO: UI -->
            <button type="button" class="btn btn-default btn-sm" id="calendarMenuPrev">
                &lt;
            </button>
            <button type="button" class="btn btn-default btn-sm" id="calendarMenuNext">
                &gt;
            </button>
        </span>
        <h3 style="display:inline" id="renderRange" class="mx-3"></h3>
    </div>
    <div id="calendar"></div>

</main>
<script src="{{ url_for('static', filename='scripts/home-calendar.js') }}"></script>

{% endblock %}