{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-purple">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 navbar-brand"
                href="#">TigerPlan</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.groups') }}" tabindex="-1" aria-disabled="true">Manage Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.scheduler') }}" tabindex="-1" aria-disabled="true">Scheduler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}" tabindex="-1" aria-disabled="true">About</a>
                </li>
            </ul>
            <div class="nav-item btn-group dropdown">
                {% if user is defined and user != '' %}
                <button class="btn dropdown-toggle" id="login" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#fff">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="login">
                    <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
                </div>
                {% else %}
                <a href="{{ url_for('main.login') }}">
                    <button class="btn btn-primary navbar-btn navbar-right" type="button"
                        style="background-color:rgb(185, 176, 187);">
                        Login
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<hr>
<br>

<div id="main" class="container px-4" style="height: 70%;">
    <div class="row gx-5">
        <div class="col-md-4">
            <div class="panel panel-primary border border-primary rounded overflow-auto" style="height: 70%;" id="group_panel">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <br>
                        <div class="panel-heading">
                            <h3 class="panel-title center" style="color: #2728AA">My Groups</h3>
                        </div>
                        <div class="btn-group-vertical d-flex justify-content-center">
                            <a class="btn btn-lg btn-primary rounded" style="margin: 9px 0 5px;" href="#"> Group 1 </a>
                            <a class="btn btn-lg btn-outline-dark rounded" style="margin: 9px 0 5px;" href="#"> Group 2 </a>
                            <a class="btn btn-lg btn-outline-dark rounded" style="margin: 9px 0 5px;" href="#"> Group 3 </a>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="panel-heading">
                            <h3 class="panel-title center">Pending Invitations</h3>
                        </div>
                        <div class="btn-group-vertical d-flex justify-content-center">
                            <a class="btn btn-lg btn-success border rounded" style="margin: 9px 1px 5px 1px;" href="#"> Invitation 1 </a>
                            <a class="btn btn-lg btn-outline-info border rounded" style="margin: 9px 1px 5px 1px;" href="#"> Invitation 2 </a>
                            <a class="btn btn-lg btn-outline-info border rounded" style="margin: 9px 1px 5px 1px;" href="#"> Invitation 3 </a>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-primary border border-primary rounded overflow-auto" style="height: 70%;" id="event_panel">
                <br>
                <div class="panel-heading">
                    <h3 class="panel-title center">My Events</h3>
                </div>
                <div class="filter panel-body">
                    <div class="container">
                        <meta name="viewport" content="width=1000px, initial-scale=0.5">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <span class="day">1</span>
                                        <span class="long">Monday</span>
                                        <span class="short">Mon</span>
                                    </th>
                                    <th>
                                        <span class="day">2</span>
                                        <span class="long">Tuesday</span>
                                        <span class="short">Tue</span>
                                    </th>
                                    <th>
                                        <span class="day">3</span>
                                        <span class="long">Wednesday</span>
                                        <span class="short">Wed</span>
                                    </th>
                                    <th>
                                        <span class="day">4</span>
                                        <span class="long">Thursday</span>
                                        <span class="short">Thur</span>
                                    </th>
                                    <th>
                                        <span class="day">5</span>
                                        <span class="long">Friday</span>
                                        <span class="short">Fri</span>
                                    </th>
                                    <th>
                                        <span class="day">6</span>
                                        <span class="long">Saturday</span>
                                        <span class="short">Sat</span>
                                    </th>
                                    <th>
                                        <span class="day">7</span>
                                        <span class="long">Sunday</span>
                                        <span class="short">Sun</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="hour" rowspan="2"><span>1:00</span></td>
                                    <td onclick="alert('1pm')"></td>
                                    <td class="slot open" onmousedown="markd(this);" onmouseover="marko(this);", id="1"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="hour" rowspan="2"><span>2:00</span></td>
                                    <td onclick="alert('2pm')"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td onclick="alert('2:30pm')"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                    
                                <tr>
                                    <td class="hour" rowspan="2"><span>3:00</span></td>
                                    <td onclick="alert('3pm')"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="hour" rowspan="2"><span>4:00</span></td>
                                    <td onclick="alert('4pm')"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="hour" rowspan="2"><span>5:00</span></td>
                                    <td onclick="alert('5pm')"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="hour" rowspan="2"><span>6:00</span></td>
                                    <td onclick="alert('6pm')"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="hour" rowspan="2"><span>7:00</span></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="hour" rowspan="2"><span>8:00</span></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}