{% extends "basesite.html" %}

{% block content %}

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div>
                                    <div class="numbers">
                                        <span id="existingEvents">

                                            {% for event in events %}
                                            <div class="card my-3" id="eventCard{{event.id}}">
                                                <div class="card-header p-2 text-center"
                                                    style="color: white !important; background-color:{% if event.finalized %}#1d0b85{% else %}#850b68{% endif %} !important;">
                                                    <span id="eventName{{event.id}}">{{ event.name }}</span> ({{ event.group.name }}) {% if event.finalized %} -
                                                    Finalized {% endif %}</div>
                                                <div class="card-body">

                                                    {% if event.is_recurring %}
                                                    <div class="card-text font-weight-bolder" style="color:red">This event recurs weekly!
                                                    </div>
                                                    {% endif %}
                                                    <div class="card-text font-weight-light"><span style="color:black"><strong>Location: </strong></span>{{
                                                        event.location}}</div>
                                                    <div class="card-text font-weight-light"><span style="color:black"><strong>Description: </strong></span>{{
                                                        event.description }}</div>
                                                    <br>
                                                    {% if not event.finalized and event.invitations|length == 0 %}
                                                    <div class="card-text font-weight-light font-italic">
                                                        Invitations for this event have not been sent out yet! Invitees
                                                        will not be able to view event or respond until invitations have
                                                        been sent.
                                                    </div>
                                                    <br>
                                                    <a class="btn btn-outline-primary btn-sm w-100 mb-0"
                                                        style="margin: 9px 0 5px;"
                                                        onclick="createEventInvitations('{{event.id}}')">Send
                                                        Invitations</a>
                                                    {% else %}
                                                    <a class="btn btn-outline-secondary btn-sm w-100 mb-0"
                                                        style="margin: 9px 0 5px;"
                                                        onclick="eventViewDetails('{{event.id}}')">
                                                        {% if event.finalized %}
                                                        View Finalized Time
                                                        {% else %}
                                                        View Invitee Responses/Finalize Time
                                                        {% endif %}
                                                    </a>
                                                    {% endif %}
                                                    <a class="btn btn-outline-danger btn-sm w-100 mb-0"
                                                        style="margin: 9px 0 5px;"
                                                        onclick="deleteEvent('{{event.id}}')">Delete Event</a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-sm-6 mb-xl-8 mb-8">
                    <h3 id="groupHeader" value="1" class="px-4 py-2"></h3>
                    <button class="btn btn-success btn-sm w-100" id="finalizeEventButton" style="display: none;">Finalize</button>
                    <div id="finalizeEventResponse"></div>
                    <div id="calendarMenu" style="display: none;">
                        <span id="menu-navi">
                            <button type="button" class="btn btn-default btn-sm" id="calendarMenuPrev">
                                &lt;
                            </button>
                            <button type="button" class="btn btn-default btn-sm" id="calendarMenuNext">
                                &gt;
                            </button>
                        </span>
                        <h3 style="display:inline" id="renderRange" class="mx-3"></h3>
                    </div>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </main>

    <script>
        'use strict';
        let request = null;
        let currentlyViewedEventId = null;

        function addBanner(selector, message, success) {
            let banner = $('<div>', {
                text: message
            });
            banner.addClass(success ? "alert alert-success" : "alert alert-warning");
            banner.appendTo(selector);

            setTimeout(function () {
                banner.hide(1000);
                setTimeout(function () {
                    banner.remove()
                }, 1000);
            }, 3000);
        }

        function getEventNameFromId(id) {
            return $("#eventName" + id).text();
        }

        function createEventInvitations(eventId) {
            $(this).prop("disabled", true);
            let url = "cr_event_invitations/" + eventId;
            $.ajax({
                type: "POST",
                url: url,
                success: function (response) {
                    if (response.success) {
                        document.location.reload();
                    } else {
                        addBanner("#eventCard" + eventId, "An error occurred", false);
                    }
                },
                error: function(response) {
                    addBanner("#eventCard" + eventId, "An error occurred", false);
                }
            });
        }

        function deleteEvent(eventId) {
            let eventName = getEventNameFromId(eventId);
            let confirmed = confirm("Are you sure you want to delete '" + eventName + "'? This action cannot be undone!");
            if (!confirmed) {
                return;
            }
            let url = "/del_event/" + eventId;

            $.ajax({
                type: "POST",
                url: url,
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $("#eventCard" + eventId).empty();
                        addBanner("#eventCard" + eventId, "Event deleted!", true);

                        if (currentlyViewedEventId == eventId) {
                            destroyDetailCalendar();
                            currentlyViewedEventId = null;
                            $("#groupHeader").empty();
                            $("#calendarMenu").hide();
                            $('#finalizeEventButton').hide();                        
                        }
                        return;
                    } else {
                        addBanner("#eventCard" + eventId, "An error occured", false);
                        return;
                    }
                }, error: function(response) {
                    addBanner("#eventCard" + eventId, "An error occured", false);
                }
            });
        }

        function eventViewDetails(eventId) {
            if (currentlyViewedEventId) {
                destroyDetailCalendar();
            }
            currentlyViewedEventId = eventId;
            eventId = encodeURIComponent(eventId);
            let timesUrl = '/view_event_details/' + eventId;
            let eventName = getEventNameFromId(eventId);


            // get event times
            $.ajax({
                type: "GET",
                url: timesUrl,
                success: function (response) {
                    
                    if (!response.success) {
                        addBanner("#finalizeEventResponse", "an error occurred", false);
                    }
                    document.getElementById("groupHeader").innerHTML = eventName;
                    if (!response.finalized) {
                        $('#finalizeEventButton').show();
                        renderDetailCalendar();
                        renderDetailTimeBlocks(response);
                    } else {
                        $('#finalizeEventButton').hide();
                        renderDetailCalendar(true);
                        renderChosenTime(response);
                    }
                
                    $("#calendarMenu").show();
                    setRenderRangeText();
                },
                error: function (response) {
                    console.log(response);
                    addBanner("#finalizeEventResponse", "an error occurred", false);
                }
            });
        }

        function finalize() {
            let selectedId = getSelectedTimeblockId();
            if (selectedId === null || currentlyViewedEventId === null) {
                if (selectedId === null) {
                    addBanner("#finalizeEventResponse", "Must select a time (click on one of the timeblocks in the calendar)", false);
                } else {
                    addBanner("#finalizeEventResponse", "error processing request", false);
                }
                return;
            }
            $('#finalizeEventButton').prop('disabled', true);
            let eventId = encodeURIComponent(currentlyViewedEventId);
            selectedId = encodeURIComponent(selectedId);
            let finalizeUrl = "/finalize_event_time?eventid=" + eventId + "&timeid=" + selectedId;

            $.ajax({
                type: "POST",
                url: finalizeUrl,
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        destroyDetailCalendar();
                        $('#calendarMenu').hide();
                        $('#finalizeEventButton').hide();
                        addBanner('#finalizeEventResponse', "Success!", true);
                        setTimeout(function () {
                            document.location.reload();
                        }, 1000);
                    } else {
                        addBanner('#finalizeEventResponse', "An error occured", false);
                    }
                    $('#finalizeEventButton').prop('disabled', false);
                },
                error: function (response) {
                    console.log(response);
                    $('#finalizeEventButton').prop('disabled', false);
                }
            })
        }

        function setRenderRangeText() {
            let start = detailCal.getDateRangeStart().toDate();
            let end = detailCal.getDateRangeEnd().toDate();
            let startString = (start.getMonth() + 1) + "/" + start.getDate() + "/" + start.getFullYear();
            let endString = (end.getMonth() + 1) + "/" + end.getDate() + "/" + end.getFullYear();
            let newRange = $('<span>', { text: startString + " ~ " + endString });
            $('#renderRange').empty();
            $("#renderRange").append(newRange);
        }

        function changeCalendarRange(direction) {
            if (!detailCal) {
                return;
            }
            if (direction < 0) {
                detailCal.prev();
            } else if (direction > 0) {
                detailCal.next();
            }
            setRenderRangeText();
        }

        function setup() {
            console.log("Setting up page");
            $('#calendarMenuPrev').on('click', function () {
                changeCalendarRange(-1);
            });
            $('#calendarMenuNext').on('click', function () {
                changeCalendarRange(1);
            });
            $('#finalizeEventButton').on('click', finalize);
        }

        $('document').ready(setup);
    </script>
    <script src="{{ url_for('static', filename='scripts/eventdetails-calendar.js') }}"></script>

{% endblock %}