<div class="card">
    <div id="thisGroup"></div>
    <div class="card-header" style=" color: white !important; background-color: #cb0c9f !important;">
    <ul class="nav nav-tabs card-header-tabs m-0" id="groupTab">
        <li class="nav-item active px-3"><a data-target="#members" data-toggle="tab">Manage Members</a></li>
        <li class="nav-item px-3"><a data-target="#events" data-toggle="tab">View Events</a></li>
        <li class="nav-item px-3"><a data-target="#settings" data-toggle="tab">Admin</a></li>
    </ul>
    </div>
    <div class = "tab-content">
        <div class="tab-pane active" id="members">
            <div class="card-body">
                <div class="container">
                    {% include 'groupmembers.html' %}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="events">
            <div class="card-body">
                <div class="container">
                    <p class="card-text"><strong>View Events</strong><br>View details for your group's events all in one place! Click on an event to view details.</p>
                    <div id="eventContainer" class="btn-group-vertical d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="settings">
            <div class="card-body">
                <div class="container">
                    {% include 'groupadmin.html' %}
                </div>            
            </div>
        </div>
    </div>
</div>

<!-- Switch Tabs -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>