<div class="card">
    <div id="thisGroup"></div>
    <div class="nav-wrapper position-relative end-0">
        <ul class="nav nav-pills nav-fill p-1" style="background: #f7f7f7" id="groupTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 active show" data-target="#members" href="#" data-toggle="tab" aria-expanded="true">
                    <strong style="color:black">Manage Members</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1" data-target="#events" href="#" data-toggle="tab">
                    <strong style="color:black">View Events</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1" data-target="#settings" href="#" data-toggle="tab">
                    <strong style="color:black">Admin</strong>
                </a>
            </li>
        </ul>
    </div>
    <div class = "tab-content">
        <div class="tab-pane active" id="members">
            <div class="card-body">
                <div class="container">
                    {% include 'groupmembers.html' %}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="events">
            <div class="card-body">
                <div class="container">
                    <p class="card-text"><strong style="color:black">View Events</strong><br>View details for your group's events all in one place! Click on an event to view details.</p>
                    <div id="eventContainer" class="btn-group-vertical d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="settings">
            <div class="card-body">
                <div class="container">
                    {% include 'groupadmin.html' %}
                </div>            
            </div>
        </div>
    </div>
</div>

<!-- Switch Tabs -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>