{% extends "base.html" %}

<style>

.card-columns {
    column-gap: 1.25rem;
}

.card-img {
    border-radius: 0;
}

</style>

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-teal">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 navbar-brand"
                href="#">TigerPlan</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('main.dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('main.groups') }}" tabindex="-1" aria-disabled="true">Manage Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.scheduler') }}" tabindex="-1" aria-disabled="true">Scheduler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}" tabindex="-1" aria-disabled="true">About</a>
                </li>
            </ul>
            <div class="nav-item btn-group dropdown">
                {% if user is defined and user != '' %}
                <button class="btn dropdown-toggle" id="login" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#fff">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="login">
                    <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
                </div>
                {% else %}
                <a href="{{ url_for('main.login') }}">
                    <button class="btn btn-primary navbar-btn navbar-right" type="button"
                        style="background-color:rgb(185, 176, 187);">
                        Login
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div class="container pb-5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <strong>Group Management page in progress!</strong>
    {% if user is defined and user != '' %}
    <div>
        Showing group management page for user <strong>{{ user }}</strong>:
    </div>
    {% endif %}
</div>

<div id="main" class="container-fluid px-5" style="height: 100%;">
    <div class = "row">
        <!-- Left Column -->
        <div class = "col-md-4">
            <div class="container pt-4 pb-4 border rounded-3 border-teal border-3">
                <div class="btn-group-vertical d-flex justify-content-center">
                    {% if groups is defined and groups != '' %}
                    {% for group in groups %}
                        {% if this_group is defined and this_group == group %}
                        <a class="btn btn-lg btn-outline-info border rounded active" style="margin: 9px 0 5px;" href="mygroups?groupId={{ group.id }}"> {{ group.name }} (ID# {{ group.id }}) </a>
                        {% else %}
                        <a class="btn btn-lg btn-outline-info border rounded" style="margin: 9px 0 5px;" href="mygroups?groupId={{ group.id }}"> {{ group.name }} (ID# {{ group.id }}) </a>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class = "card mt-3 mb-3">
                    <div class="card-header text-white bg-teal">Create New Group</div>
                    <div class="card-body">
                    <p class="card-text">Please specify a name for your new group.</p>
                    <form action="" method="get">
                        <div>
                            <input type="text" name="newGroupName" id="NewGroupName" class="form-control" placeholder="Group Name" autofocus>
                            <button id="createNewGroup">Create New Group</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Column -->
        <div class = "col-md-8">
            <div class="container pt-4 pb-4 border rounded-3 border-teal border-3">
              {% include 'managegrouptab.html' %}
            </div>
        </div>
    </div>

</div>


<!-- Script to create a new group -->
<script>

    'use strict';
    let request = null;

    function newGroupResults() {
      let name = $('#NewGroupName').val();
      name = encodeURIComponent(name);
  
      let url = '/add_custom_group?name=' + name
  
      if (request != null)
        request.abort();
  
      request = $.ajax(
        {
          type: 'GET',
          url: url,
        }
      );
    }
  
    function setup() {
      $('#createNewGroup').on('click', newGroupResults);
    }

    $('document').ready(setup);
  
</script>

{% endblock %}
