{% extends "base.html" %}

<style>

.card-columns {
    column-gap: 1.25rem;
}

.card-img {
    border-radius: 0;
}

</style>

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-teal">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 navbar-brand"
                href="#">TigerPlan</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('main.dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('main.groups') }}" tabindex="-1" aria-disabled="true">Manage Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.scheduler') }}" tabindex="-1" aria-disabled="true">Scheduler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}" tabindex="-1" aria-disabled="true">About</a>
                </li>
            </ul>
            <div class="nav-item btn-group dropdown">
                {% if user is defined and user != '' %}
                <button class="btn dropdown-toggle" id="login" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#fff">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="login">
                    <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
                </div>
                {% else %}
                <a href="{{ url_for('main.login') }}">
                    <button class="btn btn-primary navbar-btn navbar-right" type="button"
                        style="background-color:rgb(185, 176, 187);">
                        Login
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div class="container pb-5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <strong>Group Management page in progress!</strong>
    {% if user is defined and user != '' %}
    <div>
        Showing group management page for user <strong>{{ user }}</strong>:
    </div>
    {% endif %}
</div>

<div id="main" class="container-fluid px-5" style="height: 100%;">
    <div class = "row">
        <!-- Left Column -->
        <div class = "col-md-4">
            <div class="container pt-4 pb-4 border rounded-3 border-teal border-3">
                {% if groups is defined and groups != '' %}
                <div class="card-columns">
                        <div class = "card mb-3">
                            <div class="card-header text-white bg-teal"> <h5 class="card-title">My Groups</h5></div>
                        </div>
                    {% for group in groups %}
                        <div class = "card mt-3 mb-3">
                            <div class="card-header text-white bg-teal">{{ group.name }}</div>
                            <div class="card-body">
                            <p class="card-text">Some example text about group #{{ group.id }}.</p>
                            <a href="/del_group/{{ group.id }}">
                                <button> Delete group {{ group.id }} and related events.</button>
                            </a>
                            </div>
                        </div>
                    {% endfor %}
                        <div class = "card mt-3 mb-3">
                            <div class="card-header text-white bg-teal">New Group</div>
                            <div class="card-body">
                            <p class="card-text">Please specify a name for your new group.</p>
                            <form action="" method="get">
                                <div>
                                    <input type="text" name="newGroupName" id="NewGroupName" class="form-control" placeholder="Group Name" autofocus>
                                    <select id="NewGroupMember" class="form-select form-select-sm">
                                        {% if users is defined and users != '' %}
                                        {% for invitee in users %}
                                        <option value="{{ invitee.id }}">{{ invitee.netid }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select> <span>Select Group Members</span>
                                    <button id="createNewGroup">Create New Group</button>
                                </div>
                            </form>
                            </div>
                        </div>
                </div>
                {% endif %}
                <br>
            </div>
        </div>
        <!-- Right Column -->
        <div class = "col-md-8">
            <div class="container pt-4 pb-4 border rounded-3 border-teal border-3">
                <div class="card">
                    <div class="card-header text-white bg-teal">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="true">Admin</a>
                            </li>
                          </ul>
                    </div>
                    <div class = "tab-content">
                        <div class="tab-pane active" id="members" role="tabpanel" aria-labelledby="members-tab">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    'use strict';
    let request = null;
  
    function getResults() {
      let name = $('#NewGroupName').val();
      let member = $('#NewGroupMember :selected').val();
      name = encodeURIComponent(name);
      member = encodeURIComponent(member);
  
      let url = '/add_custom_group?name=' + name
      url += '&member=' + member
  
      if (request != null)
        request.abort();
  
      request = $.ajax(
        {
          type: 'GET',
          url: url,
        }
      );
    }
  
    function setup() {
      $('#createNewGroup').on('click', getResults);
    }
  
    $('document').ready(setup);
  
  </script>

{% endblock %}
