{% extends "basesite.html" %}

{% block content %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div>
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">My Owned Groups</p>
                                    {% if groups is defined and groups != '' %}
                                    {% for group in groups %}
                                    {% if this_group is defined and this_group == group %}
                                    <a id="groupInfoButton{{group.id}}"
                                        class="btn active btn-outline-primary btn-sm w-100 mb-0"
                                        style="margin: 9px 0 5px;" onclick="showGroupInfo('{{group.id}}')"> {{
                                        group.name }}</a>
                                    {% else %}
                                    <a id="groupInfoButton{{group.id}}"
                                        class="btn btn-outline-primary btn-sm w-100 mb-0" style="margin: 9px 0 5px;"
                                        onclick="showGroupInfo('{{group.id}}')"> {{ group.name }} </a>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <p class="text-sm mb-0">You do not have any owned groups.</p>
                                    {% endif %}
                                    <br>
                                    <p class="text-sm mb-0 pt-3 text-capitalize font-weight-bold">My Shared Groups
                                    </p>
                                    {% if admin_groups is defined and admin_groups|length != 0 %}
                                    {% for admin_group in admin_groups %}
                                    <a class="btn btn-outline-primary btn-sm w-100 mb-0" style="margin: 9px 0 5px;">
                                        {{ admin_group.name }} <br> (* Event privileges
                                        only *)</a>
                                    {% endfor %}
                                    {% else %}
                                    <p class="text-sm mb-0">You do not have any shared groups.</p>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="card mt-3 mb-3 p-3 border" style="border-color: #cb0c9f !important;">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Create New Group</p>
                                    <p class="text-secondary font-weight-bold text-sm mt-2 mb-3">Please specify a
                                        name for your new group.</p>
                                    <div>
                                        <input type="text" name="newGroupName" id="NewGroupName"
                                            class="form-control" placeholder="Group Name" autofocus>
                                        <button id="createNewGroup"
                                            class="btn btn-outline-default btn-sm w-100 mb-0"
                                            style="margin: 9px 0 5px;">Create Group</button>
                                    </div>
                                    <span id="groupCreationResponse"></span>

                                </div>
                            </div>
                            <!-- <div class="col-4 text-end">
                                <div
                                    class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-sm-6 mb-xl-8 mb-8">
                <div class="row">
                    <div id="groupInfoToggle" style="display:none;">
                        <h3 id="groupNameHeader"></h3>
                        {% include 'managegrouptab.html' %}
                    </div>
                    <div id="selectGroupToggle" style="display:none;">
                        <h5>Please select a group.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Script to programatically fill/load the manage groups tab -->
<script>
    'use strict';

    function loadMemberInfo(members, users) {
        $('#membersTable tbody tr').remove()
        console.log("Cleared member data.")
        let index = 0;
        while (index < members.length) {
            let member = members[index]
            let tableRow = $('<tr>');
            if (member.name === null) {
                // default name
                member.name = "None";
            }
            tableRow.append($('<td>', { text: "   " + member.netid }));
            tableRow.attr('id', "memberRow" + member.id);
            let deleteUserTd = $('<td>');
            let deleteUserButton = $('<a>', { text: "Remove member" });
            deleteUserButton.attr('onclick', "removeMember(" + member.id + ")");
            deleteUserButton.attr('class', "btn btn-outline-danger btn-sm mb-0")
            deleteUserButton.attr('style', "margin: 0px 0 0px;")
            deleteUserTd.append(deleteUserButton);
            tableRow.append(deleteUserTd);
            $('#membersTable').append(tableRow);
            index += 1;
        }
        console.log("Loaded member data.")
        $('#selectNewGroupMember option').remove()
        console.log("Cleared new member select data.")
        index = 0;
        while (index < users.length) {
            let user = users[index]
            if (!$("#membersTable tr[id=memberRow" + user.id + "]").length) {
                $('#selectNewGroupMember').append(new Option(user.netid, user.id));
            }
            index += 1;
            console.log("Loaded a user.")
        }
        console.log("Loaded user data.")
    }

    function loadEventsInfo(events) {
        $('#eventContainer div').remove()
        $('#eventContainer p').remove()
        console.log("Cleared event data.")
        let index = 0;
        while (index < events.length) {
            let event = events[index]
            let eventCard = $('<div>');
            console.log(event)
            eventCard.attr('class', "card");
            eventCard.css('width','100%');
            let cardHeader = $('<div>', { text: event.name });
            cardHeader.attr('class', "card-header p-2 text-center");
            cardHeader.attr('style', " color: black !important; background-color: #ADD8E6 !important;");
            let cardBody = $('<div>');
            cardBody.attr('class', "card-body");
            let location = $('<div>');
            location.append("<strong style='color:black'>Location : </strong>")
            location.append(event.location);
            location.attr('class', "card-text");
            let description = $('<div>');
            description.append("<strong style='color:black'>Description : </strong>")
            description.append(event.description);
            description.attr('class', "card-text");
            let finalTime = $('<div>');
            if (event.finalized) {
                finalTime.append("<strong style='color:black'>Finalized Time: </strong>")
                finalTime.append(event.final_time.start + " - " + event.final_time.end);
            } else {
                finalTime.append("<strong style='color:red'>Event not finalized yet! </strong>")
            }
            finalTime.attr('class', 'card-text');

            // Construct card
            cardBody.append(location);
            cardBody.append(description);
            cardBody.append(finalTime);
            eventCard.append(cardHeader);
            eventCard.append(cardBody);
            eventCard.css('margin-bottom', '10px');
            $('#eventContainer').append(eventCard);
            index += 1;
        }
        if (events.length == 0) {
            let noEvents = $('<p>', { text: 'This group has no scheduled events.'});
            noEvents.attr('class', 'card-text');
            $('#eventContainer').append(noEvents);
        }
        console.log("Loaded event data.")
    }


    function loadAdminInfo(members, admins, owner) {
        $('#adminTable tbody tr').remove()
        console.log("Cleared admin data.")
        let index = 0;
        while (index < admins.length) {
            let admin = admins[index]
            let tableRow = $('<tr>');
            tableRow.append($('<td>', { text: admin.netid }));
            tableRow.attr('id', "adminRow" + admin.id);
            let deleteAdminTd = $('<td>');
            let deleteAdminButton = $('<a>', { text: "Remove admin privileges" });
            deleteAdminButton.attr('onclick', "removeAdmin(" + admin.id + ")");
            deleteAdminButton.attr('class', "btn btn-outline-info btn-sm mb-0")
            deleteAdminButton.attr('style', "margin: 0px 0 0px;")
            deleteAdminTd.append(deleteAdminButton);
            tableRow.append(deleteAdminTd);
            $('#adminTable').append(tableRow);
            index += 1;
        }
        $('#selectNewGroupAdmin option').remove();
        $('#selectNewGroupOwner option').remove();
        console.log("Cleared new admin select data.")
        index = 0;
        while (index < members.length) {
            let member = members[index]
            if (member.id != owner) {
                // If the member is not an admin, add them to the add group admin select
                if (!$("#adminTable tr[id=adminRow" + member.id + "]").length) {
                    $('#selectNewGroupAdmin').append(new Option(member.netid, member.id));
                }
                $('#selectNewGroupOwner').append(new Option(member.netid, member.id));
            }
            index += 1;
            console.log("Loaded a potential admin / new oner.")
        }
        console.log("Loaded admin data.")
    }

    let groupTabRequest = null;
    function showGroupInfo(groupId) {
        let url = '/mygroupinfo?groupId=' + groupId

        if (groupTabRequest != null)
            groupTabRequest.abort();

        console.log("group Tab Request")

        groupTabRequest = $.ajax(
            {
                type: 'GET',
                url: url,
                success: function (response) {
                    if (!response.success) return;
                    console.log(response)
                    $('#thisGroupHeader').remove();
                    let groupTitle = $('<h3>', { id: "thisGroupHeader", text: response.name, value: groupId, class: "px-4 py-2" });
                    $('#thisGroup').append(groupTitle);
                    loadMemberInfo(response.members, response.users);
                    loadEventsInfo(response.events);
                    loadAdminInfo(response.members, response.admins, response.exclude_id);
                    $('#groupInfoToggle').attr('style', "display:block;");
                },
                error: function (error) {
                    console.log(error);
                }
            }
        );
    }

</script>

<!-- Script to create a new group -->
<script>

    'use strict';
    let myGroupsRequest = null;

    function addBanner(message, success) {
        let banner = $('<div>', { text: message });
        banner.addClass("alert alert-" + (success ? "success" : "warning"));
        banner.appendTo("#groupCreationResponse");

        setTimeout(function () {
            banner.hide(1000);
            setTimeout(function () {
                banner.remove()
            }, 1000);
        }, 3000);
        return;
    }

    function createNewGroup() {
        let name = $('#NewGroupName').val();
        name = encodeURIComponent(name);
        console.log(name);

        if (!name.trim()) {
            addBanner("A name is required", false);
            return;
        }

        let url = '/add_custom_group?name=' + name

        if (myGroupsRequest != null)
            myGroupsRequest.abort();

        myGroupsRequest = $.ajax(
            {
                type: 'POST',
                url: url,
                success: function (response) {
                    if (response.success) {
                        document.location.reload();
                    } else {
                        addBanner("An error occured", false);
                    }
                },
                error: function (response) {
                    addBanner("An error occured", false);
                }
            }
        );
    }

    function setup() {
        $('#createNewGroup').on('click', createNewGroup);
    }

    $('document').ready(setup);

</script>

{% endblock %}