{% extends "basesite.html" %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div>
                            <div class="card-body" id="showCreateEventCardButton" style="display: none;">
                                <p class="card-text">Your event has been successfully created, but invitations have not yet been sent
                                out!</p>
                                <br>
                                <p class="card-text">Go to the manage events tab to send out invitations.</p>

                                <button class="btn btn-outline-primary btn-sm w-100 mb-0" onclick="showCreateEventCard(true)">
                                    Click here to create another event!
                                </button>
                            </div>
                            <div class="card mt-3 mb-3" id="createEventCard">
                                <div class="card-header text-white bg-primary"><strong>Create New
                                        Event</strong></div>
                                <div class="card-body">
                                    <p class="card-text">Which group are you creating the event for?</p>
                                    <form>
                                        <select id="NewEventGroupId"
                                            class="form-select form-select-md">
                                            {% if groups is defined and groups != '' %}
                                            {% for group in groups %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                            {% endfor %}
                                            {% endif %}
                                            {% if admin_groups is defined and admin_groups != '' %}
                                            {% for admin_group in admin_groups %}
                                            <option value="{{ admin_group.id }}">{{ admin_group.name }} (*)
                                            </option>
                                            {% endfor %}
                                            {% endif %}
                                        </select> 
                                        <br>
                                        <p class="card-text">Add Event Details</p>
                                        <input type="text" name="newEventName" id="NewEventName"
                                            class="form-control" placeholder="Event Name" style="margin: 3px 0px 3px" autofocus>
                                        <input type="text" name="newEventLocation" id="NewEventLocation"
                                            class="form-control" placeholder="Event Location" style="margin: 3px 0px 3px" autofocus>
                                        <input type="text" name="newEventDescription" id="NewEventDescription"
                                            class="form-control" placeholder="Event Description" style="margin: 3px 0px 3px" autofocus>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Specify times by dragging in the calendar! CTRL-Click (CMD-Click on Mac) to delete
                                            times!
                                        </small>
                                        <br>
                                    </form>
                                    <input type="checkbox" id="isRecurringCheckbox">
                                    <label for="isRecurringCheckbox" style="color:red">Make event recur weekly</label>
                                    <br>
                                    <button id="createNewEventButton" class="btn btn-outline-primary btn-sm w-100 mb-0">Create Event</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-sm-6 mb-xl-8 mb-8">
            <span id="eventCreationResponse"></span>
            <div id="calendarMenu" style="display: none;">
                <span id="menu-navi">
                    <button type="button" class="btn btn-default btn-sm" id="calendarMenuPrev">
                        &lt;
                    </button>
                    <button type="button" class="btn btn-default btn-sm" id="calendarMenuNext">
                        &gt;
                    </button>
                </span>
                <h3 style="display:inline" id="renderRange" class="mx-3"></h3>
            </div>
            <div id="calendar"></div>
        </div>
    </div>
</div>
</main>

<script>
    'use strict';
    let request = null;

    function showCreateEventCard(show) {
        if (show) {
            $("#eventCreationResponse").empty();
            $("#createEventCard").show();
            $("#showCreateEventCardButton").hide();
            renderTimeSelectionCalendar();
            setRenderRangeText();
            $("#calendarMenu").show();
            $("#createNewEventButton").prop("disabled", false);
        } else {
            $("#createEventCard").hide(500);
            $("#showCreateEventCardButton").show();
            destroyTimeSelectionCalendar();
            $("#calendarMenu").hide();
        }
    }

    function checkNewEventValidity(id, name, schedules) {
        if (!id || id.trim() === "") {
            return "Issue identifying associated group";
        }
        if (!name || name.trim() === "") {
            return "A name is required";
        }
        if (!schedules || schedules.length == 0) {
            return "At least one timeblock is required";
        }
        return "";
    }

    function createNewEvent() {
        let id = $('#NewEventGroupId :selected').val();
        let name = $('#NewEventName').val();
        let location = $('#NewEventLocation').val();
        let description = $('#NewEventDescription').val();
        let schedules = getAllSchedules();

        let isRecurring = $("#isRecurringCheckbox").prop('checked');

        let validity = checkNewEventValidity(id, name, schedules);

        if (validity != "") {
            console.log(validity);

            let banner = $('<div>', { text: validity });
            banner.addClass("alert alert-warning");
            banner.appendTo("#eventCreationResponse");

            setTimeout(function () {
                banner.hide(1000);
                setTimeout(function () {
                    banner.remove()
                }, 1000);
            }, 3000);
            return;
        }

        console.log("creating new event");

        let timeblocks = []
        for (let i = 0; i < schedules.length; i++) {
            let schedule = schedules[i];
            let timeblock = {};
            if (schedule.start && schedule.end) {
                timeblock.start = schedule.start;
                timeblock.end = schedule.end;
                timeblock.name = schedule.title;
            }
            timeblocks.push(timeblock);
        }

        let newEventData = {};
        newEventData.groupId = id;
        newEventData.name = name;
        newEventData.location = location;
        newEventData.description = description;
        newEventData.timeblocks = timeblocks;
        newEventData.isRecurring = isRecurring;

        console.log(newEventData);
        let url = '/add_event'
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(newEventData),
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (!response.success) {
                    let banner = $('<div>', {
                        text: response.message ?
                            response.message : "An error occurred"
                    });
                    banner.addClass("alert alert-warning");
                    banner.appendTo("#eventCreationResponse");
                    setTimeout(function () {
                        banner.hide(1000);
                        setTimeout(function () {
                            banner.remove()
                        }, 1000);
                    }, 3000);
                    $("#createNewEventButton").prop("disabled", false);
                } else {
                    $("#createNewEventButton").prop("disabled", false);
                    showCreateEventCard(false);
                    $('#select-box').prop('selectedIndex', 0);
                    $('#NewEventName').val('');
                    $('#NewEventLocation').val('');
                    $('#NewEventDescription').val('');
                    $('#isRecurringCheckbox').prop('checked', false);

                    let banner = $('<div>', {
                        text: "Event successfully created!"
                    });
                    banner.addClass("alert alert-success");
                    banner.appendTo("#eventCreationResponse");
                }
            },
            error: function (error) {
                console.log(error);
                let banner = $('<div>', { text: "An error occurred" });
                banner.addClass("alert alert-warning");
                banner.appendTo("#eventCreationResponse");
                setTimeout(function () {
                    banner.hide(1000);
                    setTimeout(function () {
                        banner.remove()
                    }, 1000);
                }, 3000);
                $("createNewEventButton").prop("disabled", false);
            },
        });
    }

    function setRenderRangeText() {
        let start = cal.getDateRangeStart().toDate();
        let end = cal.getDateRangeEnd().toDate();
        let startString = (start.getMonth() + 1) + "/" + start.getDate() + "/" + start.getFullYear();
        let endString = (end.getMonth() + 1) + "/" + end.getDate() + "/" + end.getFullYear();
        let newRange = $('<span>', { text: startString + " ~ " + endString });
        $('#renderRange').empty();
        $("#renderRange").append(newRange);
    }

    function changeCalendarRange(direction) {
        if (!cal) {
            return;
        }
        if (direction < 0) {
            cal.prev();
        } else if (direction > 0) {
            cal.next();
        }
        setRenderRangeText();
    }

    function setup() {
        console.log("Setting up page");
        $('#calendarMenuPrev').on('click', function () {
            changeCalendarRange(-1);
        });
        $('#calendarMenuNext').on('click', function () {
            changeCalendarRange(1);
        });
        $("#createNewEventButton").on('click', function () {
            createNewEvent();
        });
        renderTimeSelectionCalendar();
        setRenderRangeText();
        $("#calendarMenu").show();
    }

    $('document').ready(setup);
</script>

<script src="{{ url_for('static', filename='scripts/event-calendar.js') }}"></script>
{% endblock %}