{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-teal">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 navbar-brand"
                href="#">TigerPlan</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.groups') }}" tabindex="-1" aria-disabled="true">Manage
                        Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('main.scheduler') }}" tabindex="-1"
                        aria-disabled="true">Scheduler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}" tabindex="-1" aria-disabled="true">About</a>
                </li>
            </ul>
            <div class="nav-item btn-group dropdown">
                {% if user is defined and user != '' %}
                <button class="btn dropdown-toggle" id="login" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:#fff">
                    {{ user }}
                </button>
                <div class="dropdown-menu" aria-labelledby="login">
                    <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
                </div>
                {% else %}
                <a href="{{ url_for('main.login') }}">
                    <button class="btn btn-primary navbar-btn navbar-right" type="button"
                        style="background-color:rgb(185, 176, 187);">
                        Login
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div class="container pb-5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <strong>Scheduling page in progress!</strong>
    {% if user is defined and user != '' %}
    <div>
        Showing scheduling page for user <strong>{{ user }}</strong>:
    </div>
    {% endif %}
</div>

<div id="main" class="container-fluid px-5" style="height: 100%;">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
            <div class="container pt-4 pb-4 border rounded-3 border-teal border-3">
                {% if events is defined and events != '' %}
                <div class="card-columns">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-teal">
                            <h5 class="card-title">Planned Events</h5>
                        </div>
                    </div>
                    {% for event in events %}
                    <div class="card mt-3 mb-3">
                        <div class="card-header text-white bg-teal">
                            <strong> Event #{{ event.id }}</strong>- Group #{{ event.group_id }}
                        </div>
                        <div class="card-body">
                            <a href="/del_event/{{ event.id }}">
                                <button> Delete Event </button>
                            </a>
                            {% if not event.finalized and event.invitations|length == 0 %}
                            <a href="/cr_event_invitations/{{ event.id }}">
                                <button> Create Event Invitations </button>
                            </a>
                            {% endif %}
                            <a href="/view_event_details/{{event.id}}" target = "_blank">
                                <button>View details</button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                        <div class = "card mt-3 mb-3">
                            <div class="card-header text-white bg-teal"><strong>New Event</strong></div>
                            <div class="card-body">
                                <p class="card-text">Which group are you creating the event for?</p>
                                <form>
                                    <select id="NewEventGroupId" class="custom-select custom-select-lg mb-3">
                                        {% if groups is defined and groups != '' %}
                                        {% for group in groups %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select> <span>Select Group</span>
                                    <input type="text" name="newEventName" id="NewEventName" class="form-control" placeholder="Event Name" autofocus>
                                    <input type="text" name="newEventLocation" id="NewEventLocation" class="form-control" placeholder="Event Location" autofocus>
                                    <input type="text" name="newEventDescription" id="NewEventDescription" class="form-control" placeholder="Event Description" autofocus>
                                    <button id = "createNewEvent"> Create Event</button>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-md-8">
            <div class="container pt-4 pb-4 border rounded-3 border-teal border-3" id="currentlyViewedEvent">
                <table class="table table-hover" id = "eventTable">

                </table>
            </div>
        </div>
    </div>
</div>

<script>

    'use strict';
    let request = null;
  
    function getResults() {
      let id = $('#NewEventGroupId :selected').val();
      let name = $('#NewEventName').val();
      let location = $('#NewEventLocation').val();
      let description = $('#NewEventDescription').val();
      id = encodeURIComponent(id);
      name = encodeURIComponent(name);
      location = encodeURIComponent(location);
      description = encodeURIComponent(description);
  
      let url = '/add_event?id=' + id
      url += "&name=" + name
      url += '&location=' + location
      url += '&description=' + description 
  
      if (request != null)
        request.abort();
  
      request = $.ajax(
        {
          type: 'GET',
          url: url,
        }
      );
    }
  
    function setup() {
      $('#createNewEvent').on('click', getResults);
    }
  
    $('document').ready(setup);
  
  </script>

{% endblock %}